@import "tailwindcss";

@theme {
  --font-pacifico: "Pacifico", cursive;
  --font-inter: "Inter", sans-serif;
  --color-chuks-orange: #FF7A1B;
  --color-dark-brown: #2D1A14;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Pacifico&display=swap');

body {
  margin: 0;
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

.logo-font {
  font-family: var(--font-pacifico);
}
